<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/dist/miha.js"></script>
</head>
<body style="background: #f5f5f5">
<mi-title lv="4">default</mi-title>
<mi-pagination total=48  page-size=4></mi-pagination>
</body>
<style>

</style>
<script>

</script>
</html>
