<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">   <script src="/dist/miha.js"></script>
</head>
<body style="background: #f5f5f5">
<h4>title</h4>
<div>
  <mi-title lv="1">lv11111111</mi-title>
  <mi-title lv="2">lv22222222</mi-title>
  <mi-title lv="3">lv33333333</mi-title>
  <mi-title lv="4">lv44444444</mi-title>
</div>
</body>
<style>

</style>
<script>

</script>
</html>
