<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../styles/index.css">
  <script type="module" src="/build/miha.esm.js"></script>
  <script nomodule src="/build/miha.js"></script>
</head>
<body style="background: #f5f5f5">
<h3>Primary</h3>
<div>
<mi-button >
  Default
</mi-button>
<mi-button variant = "dashed">
  Dashed
</mi-button>
<mi-button variant = "text">
  Text
</mi-button>
<mi-button variant = "fill">
  Fill
</mi-button>
</div>
<h3>Secondary</h3>
<div>
  <mi-button  color="secondary">
    Default
  </mi-button>
  <mi-button variant = "dashed" color="secondary">
    Dashed
  </mi-button>
  <mi-button variant = "text" color="secondary">
    Text
  </mi-button>
  <mi-button variant = "fill" color="secondary">
    Fill
  </mi-button>
</div>
<h3>Tertiary</h3>
<div>
  <mi-button  color="tertiary">
    Default
  </mi-button>
  <mi-button variant = "dashed" color="tertiary">
    Dashed
  </mi-button>
  <mi-button variant = "text" color="tertiary">
    Text
  </mi-button>
  <mi-button variant = "fill" color="tertiary">
    Fill
  </mi-button>
</div>
<h3>Danger</h3>
<div>
  <mi-button  color="danger">
    Default
  </mi-button>
  <mi-button variant = "dashed" color="danger">
    Dashed
  </mi-button>
  <mi-button variant = "text" color="danger">
    Text
  </mi-button>
  <mi-button variant = "fill" color="danger">
    Fill
  </mi-button>
</div>
<h3>Warning</h3>
<div>
  <mi-button  color="warning">
    Default
  </mi-button>
  <mi-button variant = "dashed" color="warning">
    Dashed
  </mi-button>
  <mi-button variant = "text" color="warning">
    Text
  </mi-button>
  <mi-button variant = "fill" color="warning">
    Fill
  </mi-button>
</div>
<h3>Success</h3>
<div>
  <mi-button  color="success">
    Default
  </mi-button>
  <mi-button variant = "dashed" color="success">
    Dashed
  </mi-button>
  <mi-button variant = "text" color="success">
    Text
  </mi-button>
  <mi-button variant = "fill" color="success">
    Fill
  </mi-button>
</div>
</body>
<style>
  mi-button{
  }
</style>
</html>
