<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">   <script src="/dist/miha.js"></script>
</head>
<body style="background: #f5f5f5">
<div>
  <h3>Round</h3>
<mi-button shape="round">
  Default
</mi-button>
<mi-button variant = "dashed" shape="round">
  Dashed
</mi-button>
<mi-button variant = "text" shape="round">
  Text
</mi-button>
<mi-button variant = "fill" shape="round">
  Fill
</mi-button>
</div>
<div>
  <h3>Circle</h3>
  <mi-button shape="circle">
    A
  </mi-button>
  <mi-button variant = "dashed" shape="circle">
    B
  </mi-button>
  <mi-button variant = "text" shape="circle">
    C
  </mi-button>
  <mi-button variant = "fill" shape="circle">
    D
  </mi-button>
</div>
</body>
<style>
  mi-button{
  }
</style>
</html>
