<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../styles/index.css">
  <script type="module" src="/build/miha.esm.js"></script>
  <script nomodule src="/build/miha.js"></script>
</head>
<body style="background: #f5f5f5">
<div>
  <h3>small</h3>
<mi-button size="small">
  Default
</mi-button>
  <mi-button variant = "dashed"  size="small">
    Dashed
  </mi-button>
  <mi-button variant = "text"  size="small">
    Text
  </mi-button>
  <mi-button variant = "fill"  size="small">
    Fill
  </mi-button>
</div>
<div>
  <h3>normal</h3>
  <mi-button>
    Default
  </mi-button>
  <mi-button variant = "dashed" >
    Dashed
  </mi-button>
  <mi-button variant = "text">
    Text
  </mi-button>
  <mi-button variant = "fill" >
    Fill
  </mi-button>
</div>
<div>
  <h3>large</h3>
  <mi-button size="large">
    Default
  </mi-button>
  <mi-button variant = "dashed"  size="large">
    Dashed
  </mi-button>
  <mi-button variant = "text"  size="large">
    Text
  </mi-button>
  <mi-button variant = "fill"  size="large">
    Fill
  </mi-button>
</div>
</body>
<style>
  mi-button{
  }
</style>
</html>
