<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">   <script src="/dist/miha.js"></script>
</head>
<body style="background: #f5f5f5">
<mi-button variant = "fill">
  <mi-icon slot="start" icon="face"></mi-icon>
   FaceStart
</mi-button>
<mi-button variant = "fill" color="secondary">
  <mi-icon slot="start" icon="group_work"></mi-icon>
  Group_Work
</mi-button>
<mi-button variant = "fill" color="success">
  <mi-icon slot="start" icon="save"></mi-icon>
  Save
</mi-button>
<mi-button variant = "fill" color="warning" shape="round">
  <mi-icon slot="start" icon="mood"></mi-icon>
  Mood
</mi-button>
<mi-button variant = "fill">
  <mi-icon slot="end" icon="face"></mi-icon>
  FaceStart
</mi-button>
<mi-button variant = "fill" color="secondary">
  <mi-icon slot="end" icon="group_work"></mi-icon>
  Group_Work
</mi-button>
<mi-button variant = "fill" color="success">
  <mi-icon slot="end" icon="save"></mi-icon>
  Save
</mi-button>
<mi-button variant = "fill" color="warning" shape="round">
  <mi-icon slot="end" icon="mood"></mi-icon>
  Mood
</mi-button>
<mi-button variant = "fill" color="warning" shape="circle">
  <mi-icon icon="mood"></mi-icon>
</mi-button>
</body>
<style>
  mi-button{
  }
</style>
</html>
