<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
  <script src="/dist/miha.js"></script>
</head>
<body style="background: #f5f5f5">

<div style="width: 500px">
  <mi-title lv="4">base</mi-title>
  <mi-paragraph>
    Lorem ipsum <mi-text theme="code">code Theme</mi-text>
    mi-text dolor sit amet, consectetur adipisicing elit. Assumenda commodi earum impedit ipsa molestiae perspiciatis placeat temporibus vero voluptatum. Eaque ipsum itaque non nostrum quam, rerum similique sit voluptatem voluptatibus?
    Lorem ipsum dolor sit amet, consectetur     <mi-text theme="delete">delete Theme</mi-text>
    adipisicing elit. Culpa eos in porro praesentium quae quasi vel vitae. Autem consequuntur cum, ea explicabo incidunt iste laboriosam, nostrum, quaerat quasi quos voluptatem.
  </mi-paragraph>
  <mi-divider>
  </mi-divider>
  <mi-paragraph>
    Lorem ipsum <mi-text theme="code">code Theme</mi-text>
    mi-text dolor sit amet, consectetur adipisicing elit. Assumenda commodi earum impedit ipsa molestiae perspiciatis placeat temporibus vero voluptatum. Eaque ipsum itaque non nostrum quam, rerum similique sit voluptatem voluptatibus?
    Lorem ipsum dolor sit amet, consectetur     <mi-text theme="delete">delete Theme</mi-text>
    adipisicing elit. Culpa eos in porro praesentium quae quasi vel vitae. Autem consequuntur cum, ea explicabo incidunt iste laboriosam, nostrum, quaerat quasi quos voluptatem.
  </mi-paragraph>
</div>

<div style="width: 500px">
  <mi-title lv="4">dashed</mi-title>
  <mi-paragraph>
    Lorem ipsum <mi-text theme="code">code Theme</mi-text>
    mi-text dolor sit amet, consectetur adipisicing elit. Assumenda commodi earum impedit ipsa molestiae perspiciatis placeat temporibus vero voluptatum. Eaque ipsum itaque non nostrum quam, rerum similique sit voluptatem voluptatibus?
    Lorem ipsum dolor sit amet, consectetur     <mi-text theme="delete">delete Theme</mi-text>
    adipisicing elit. Culpa eos in porro praesentium quae quasi vel vitae. Autem consequuntur cum, ea explicabo incidunt iste laboriosam, nostrum, quaerat quasi quos voluptatem.
  </mi-paragraph>
  <mi-divider dashed>
  </mi-divider>
  <mi-paragraph>
    Lorem ipsum <mi-text theme="code">code Theme</mi-text>
    mi-text dolor sit amet, consectetur adipisicing elit. Assumenda commodi earum impedit ipsa molestiae perspiciatis placeat temporibus vero voluptatum. Eaque ipsum itaque non nostrum quam, rerum similique sit voluptatem voluptatibus?
    Lorem ipsum dolor sit amet, consectetur     <mi-text theme="delete">delete Theme</mi-text>
    adipisicing elit. Culpa eos in porro praesentium quae quasi vel vitae. Autem consequuntur cum, ea explicabo incidunt iste laboriosam, nostrum, quaerat quasi quos voluptatem.
  </mi-paragraph>
</div>
<div style="width: 500px">
  <mi-title lv="4">vertical</mi-title>
  <span>菜单1</span>
  <mi-divider type="vertical">
  </mi-divider>
  <span>菜单2</span>
  <mi-divider type="vertical">
  </mi-divider>
  <a>菜单3</a>
  <mi-divider type="vertical">
  </mi-divider>
  <a style="color: #2f9bff" href="">菜单5</a>
</div>
</body>
<style>

</style>
<script>

</script>
</html>
