<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">   <script src="/dist/miha.js"></script>
</head>
<body style="background: #f5f5f5">
<h4>自带图标</h4>
<div>
</div>
</body>
<style>

</style>
<script>
fetch('/src/assets/Icon/icon.json').then(res=>res.json()).then(data=>{
  var fragment = document.createDocumentFragment();
  data.categories.map(e=>{
    var div = document.createElement('div');
    var h4 = document.createElement('h4');
    h4.innerHTML = e.name;
    div.appendChild(h4)
    e.icons.map(i=>{
      var miIcon = document.createElement('mi-icon');
      miIcon.setAttribute('icon',i.id);
      div.appendChild(miIcon)
    })
    fragment.appendChild(div)
  })
  document.body.appendChild(fragment)
})
</script>
</html>
